body {
    max-width: 1100px;
    margin: auto;
    background-color:#D2B48C;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 100px;
  background-color:#FFDAB9;
  border-color: #800000;
}
.wrapper div {
  padding: 4px;
}
.image {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h2 {
	position	: absolute;
	top		: 200px;
	left		: 0;
	width		: 100%;
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}
.image img {
  float: right;
  margin: 0 0 1em 1em;
}